body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#labelCity {
  font-size : 16px;
  font-weight: bold;
  margin-right: 5px;
}

#map {
  height:300px;
}

.btn-warning {
  color: #FFFFFF;
}

.btn-outline-info {
  margin-left : 10px;
}

.fa-times-circle-o {
  font-size:22px;
  color:#FDC02F;
}

.city-name {
  margin-top: 15px;
  font-size: 16px;
  font-weight: bold;
}

.city-delete {
  margin-top: 15px;
}

.badge-warning {
  color: #FFFFFF;
}

.message {
  font-size : 16px;
  font-weight: bold;
}
